.header {
  background: var(--gray-700);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
}

.newTask {
  display: flex;
  gap: 0.5rem;

  margin-top: -1.6875rem;
  padding-bottom: 4rem;
  justify-content: center;

  max-width: 46rem;
}


.TaskMain {
  max-width: 44.125rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 1.5rem;
}

.infoCreated {
  color: var(--blue);
  font-size: 0.875rem;
}


.infoCount {
  width: 25px;
  background-color: var(--gray-400);
  color: var(--gray-200);
  border: 1px solid var(--gray-400);
  border-radius: 999px;

  font-size: .75rem;
  font-weight: bold;
  padding: 0.125rem 0.5rem;
  margin-left: 0.5rem;
}

.infoDone {
  color: var(--purple-dark);
  font-size: 0.875rem;
}




/* =====> Responsive <==== */

@media (max-width: 37.5rem) {

  :root {
    font-size: .75rem;
  }

  .TaskMain {
    margin: 0 .75rem; 
  }
}